/* custom color palette */

@import '/node_modules/flag-icons/css/flag-icons.min.css';

:root {
  --rich-black: #001219;
  --midnight-green: #005f73;
  --dark-cyan: #0a9396;
  --tiffany-blue: #94d2bd;
  --vanilla: #e9d8a6;
  --gamboge: #ee9b00;
  --alloy-orange: #ca6702;
  --rust: #bb3e03;
  --rufous: #ae2012;
  --auburn: #9b2226;

  --white: white;

  --dark-moss-green: #606c38;
  --pakistan-green: #283618;
  --cornsilk: #fefae0;
  --earth-yellow: #dda15e;
  --tigers-eye: #ad6125;
}

/* semantic color variables for this project */

:root {
  --color-background: var(--rich-black);
  --color-text: var(--vanilla);
  --color-header: var(--midnight-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  /* line-height: 1.6; */
  font-family: 'Fauna One', serif, 'Verdana', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
